.modal-window {
    position: fixed;
    z-index: 2;
    margin: auto;
    top: 400px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    max-width: 800px;
    height: 250px;
    background-color: $btnColor;
    border: 2px solid $spanBorderColor;
    border-radius: 25px;
    padding: 15px;
    p {
        font-size: 1.5em;
        color: $secondFontColor;
    }
}

.fade {
    display: flex;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 300ms;
    animation-name: fade;
    animation-duration: 300ms;
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}